{% extends 'base.html' %}
{% block content%}
<div class="about-page">
  <img src="{{ url_for('static', filename='images/image1.jpg') }}"
    style="height: 100vh; width: 100%; position: relative;" alt="">
  <div class="container about">
    <h1 class="text-center">About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nulla debitis suscipit, quibusdam at provident harum
      aliquid consequuntur quidem, nihil libero consectetur eos quo beatae sit odio corporis. Ab, perspiciatis?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus repellat saepe sunt atque architecto, quam,
      deserunt dolorum cum expedita fugit commodi ad eum quos praesentium asperiores. Necessitatibus repellat at quidem.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil alias laudantium eum at vel illo, accusantium
      totam
      animi molestiae deserunt cupiditate, blanditiis debitis distinctio necessitatibus quaerat architecto? Doloremque,
      nemo accusamus!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti a, vel consequuntur, sed consectetur id nihil
      totam illo culpa, impedit quod! Debitis necessitatibus est exercitationem eaque accusamus nemo reprehenderit quam?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero facere pariatur quas quidem rem eligendi magnam!
      Odit porro iste possimus maiores molestias. Doloribus modi laborum aut obcaecati nostrum dolores deserunt.
    </p>
  </div>
</div>
{% endblock content %}