@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Balsamiq+Sans&family=Fredoka+One&family=Modak&family=Molle:ital@1&display=swap');


body {
  font-family: 'Balsamiq Sans', cursive;
  background-color: #fffee7;
}
.landing-page {
  background: url(../images/img2.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: 100px; */
  width: 100%;
  /* position: fixed; */
  background: rgb(213, 210, 193);
}
.nav ul li, .sign ul li {
  display: inline-block;
  padding: 15px;
  align-items: center;
}
.logo h3 {
  font-family: 'Architects Daughter', cursive;
  color: #370d00;
  font-size: 2.5rem;
  font-weight: 700;
}
.logo h3 span {
  color: #a46843;
}
.nav ul li a, .sign ul li a, legend {
  color: #370d00;
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5rem;
}
.nav ul li a:hover, .sign ul li a:hover {
  text-decoration: none;
  color: #bd8e62;
}
.arrow {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow span {
  display: block;
  height: 30px;
  width: 30px;
  border-bottom: 3px solid #370d00;
  border-right: 3px solid #370d00;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-30px, -30px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(30px, 30px);
  }
}
.account-img {
  height: 150px;
  width: 150px;
  margin-right: 20px;
  margin-bottom: 16px;
}
.forms {
  background: rgba(213, 210, 193, 0.5);
  border-radius: 3px;
  color: #370d00;
  margin-bottom: 20px;
  margin-top: 8rem;
  padding: 10px 20px;
}
.flash {
  margin-top: 70px;
}
.comment {
  background: rgba(213, 210, 193, 0.5);
  border-radius: 3px;
  color: #370d00;
  margin-bottom: 20px;
  padding: 10px 20px;
}
.card-title h1 {
  font-weight: 700;
}
.card {
  background: rgba(146, 133, 91, 0.5);
}
.footer {
  background: rgb(213, 208, 193);
}
.footer-top .form-group {
  align-items: center;
}
.footer h5 {
  color: #a46843;
  text-align: center;
  margin-top: 10px;
}
.col-md-4 ul li {
  list-style-type: none;
}
.col-md-4 ul li a {
  color: #370d00;
  transition: .5s;
}
.col-md-4 ul li a:hover {
  color: #a46843;
  text-decoration: none;
  margin-left: 5px;
  transition: .5s;
}
.col-md-4 {
  border: 1px solid #370d00;
}
.card-header a, .col-md-5 h4, .col-md-4 h5, .container h2 {
  color: #003e77;
  font-family: 'Architects Daughter', cursive;
}
.card a:hover {
  color: #a46843;
  text-decoration: none;
}
.card-body p {
  color: #370d00;
}
.card-body h1 a, .about h1 {
  color: #003e77;
}
.about {
  background-color: rgba(213, 210, 193, 0.8);
  position: absolute;
  top: 30%;
  left: 8%;
}